@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;    
}

body{
    background-color: rgb(236, 236, 236);
}


.game-board {
    
    width: 100%;
    height: 500px;
    border-top: 800px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#000000, #585858);
}

/*=============== fundo do Castelo ===============*/

.fundoCastelo-1 {
    position: absolute;  
    width: 100%;
    height: 94%;
    z-index: 2;

} 

.fundoCastelo-animation-1{
    animation: fundoCastelo-animation-1 5s infinite linear ;
}

@keyframes fundoCastelo-animation-1 {
    from{
        right: 0px;
    }
    to{
        right: 100%;
    }
    
}

.fundoCastelo-2 {
    position: absolute;  
    width: 100%;
    height: 94%;
    z-index: 2;
    right: -100%;

} 

.fundoCastelo-animation-2{
    animation: fundoCastelo-animation-2 10s infinite linear;
}

@keyframes fundoCastelo-animation-2 {
    from{
        right: -100%;
    }
    to{
        right: 100%;
    }
    
}

 .fundoCastelo-3 {
    position: absolute;  
    width: 100%;
    height: 94%;
    z-index: 2;
    right: -200%;
} 

.fundoCastelo-animation-3{
    animation: fundoCastelo-animation-3 15s infinite linear;
}

@keyframes fundoCastelo-animation-3 {
    from{
        right: -200%;
    }
    to{
        right: 100%;
    }
} 

.fundoCastelo-4 {
    position: absolute;
    width: 100%;
    height: 94%;
    z-index: 2;
    right: -300%;
} 

.fundoCastelo-animation-4{
    animation: fundoCastelo-animation-4 10s infinite linear;
}

@keyframes fundoCastelo-animation-4 {
    from{
        right: -100%;
    }
    to{
        right: 100%;
    }
} 

/*=============== Mario ===============*/

.mario {
    width: 60px;
    position: absolute;
    bottom: 0;
    margin-left: 100px;
    padding-bottom: 34px;
    z-index: 10;
}

.jump{
    animation: mario-jump-animation 500ms ease-out;
}

@keyframes mario-jump-animation {
    0%{
        bottom: 0px;
    }
    45%{
        bottom: 180px
    }
    55%{
        bottom: 180px;
    }
    100%{
        bottom:0px;
    }
    
}

/*=============== Mario_andando ===============*/

.marioAndando {
    width: 150px;
    position: absolute;
    bottom: 0;
    margin-left: 50 px;
    padding-bottom: 34px;
    z-index: 10;
}

.marioAndando-animation{
    animation: marioAndando-animation 3500ms forwards ease-out;
}

@keyframes marioAndando-animation {
    from{
        left: 100px;
    }
    to{
        left: 70%;
    }
    
}

/*=============== Porta ===============*/

.porta {
    width: 150px;
    position: absolute;
    bottom: 0;
    right: -80px;
    padding-bottom: 34px;
    z-index: 9;
}

.porta-animation{
    animation: porta-animation 2000ms forwards ease-out;
}

@keyframes porta-animation {
    from{
        right: -80px;
    }
    to{
        right: 20%;
    }
}


/*Morcelo */
.morcego {
    position: absolute;
    bottom: 0;
    width: 120px;
    right: -100px;
    padding-bottom: 34px;
    z-index: 10;
}

.morcego-animation{
    animation: morcego-animation 2s infinite linear;
}

@keyframes morcego-animation {
    from{
        right: -100px;
    }
    to{
        right: 100%;
    }

    0%{
        bottom: 180px;
    }
    25%{
        bottom: 0px
    }
    50%{
        bottom: 180px;
    }
    75%{
        bottom:0px;
    }
    100%{
        bottom:0px;
    }
    
    
}


/*=============== Yoshi ===============*/

/*Yoshi */
.yoshi {
    position: absolute;
    bottom: 0;
    width: 130px;
    right: -200px;
    padding-bottom: 34px;
    z-index: 10;
}

.yoshi-animation{
    animation: yoshi-animation 2s infinite linear;
}

@keyframes yoshi-animation {
    from{
        right: -200px;
    }
    to{
        right: 100%;
    }
    
}


/*Piso*/
.floor {
        width: 1500px;
        position: absolute;
        bottom: 0;
        padding-bottom: 34px;
       
}
.floor-1{
    position: absolute;  
    z-index: 9;
}

.floor-animation-1{
    animation: floor-animation-1 3.1s infinite linear;
}

@keyframes floor-animation-1 {
    0%{
        right:0px;
    }
    100%{
        right: 100%;    
    }
}




.floor-2{
    position: absolute; 
    right: -1500px;
    z-index: 10;
}

.floor-animation-2{
    animation: floor-animation-2 6.2s infinite linear;
}

@keyframes floor-animation-2 {
    0%{
        right:-1500px;
    }
    100%{
        right: 100%;    
    }
}




.floor-3{
    position: absolute;  
    right: -1500px;
    z-index: 10;
}

.floor-animation-3{
    animation: floor-animation-3 6.2s infinite linear;
}

@keyframes floor-animation-3 {
    0%{
        right:-1500px;
    }
    100%{
        right: 100%;    
    }
}

p {
    font-family:'Roboto Mono', monospace;
    padding: 10px;
    text-align: center;
    color: black;
}